<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact_styles.css') }}">
</head>

<body class="wrapper" id="mainWrapper">
    <img src="{{ url_for('static', filename='images/RockyM.jpg') }}" class="background">
    <img src="{{ url_for('static', filename='images/Trees.png') }}" class="foreground">
    <h2 class="title"><a>Thank you and I will do my best to be in contact soon!</a></h2>
    <script src="{{ url_for('static', filename='js/support.js') }}"></script>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/redirect2Home.js') }}"></script>

</html>