
{% extends 'base.html' %}

{% block styles %}
{% endblock %}

{% block title %}Education{% endblock %}

{% block content %}
<div>I am a distinguished graduate of DeVry University, where I secured an Associate's Degree in Information Technology and Networking. My dedication to academia earned me a spot on the Dean's List. Now, I'm ardently working towards my Bachelor's Degree in Software Design and Programming, constantly broadening my horizons. I've set my sights on Colorado Technical University — not just for a Master's in Computer Science, but also for their esteemed Doctoral program in Big Data. With an unwavering passion for Artificial Intelligence and Machine Learning, I am poised to channel my education into pioneering strides in the AI/ML field.</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}