{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edu_styles.css') }}">
{% endblock %}

{% block title %}Education{% endblock %}

{% block content %}

<div class="basicStuff">I am a distinguished graduate of DeVry University, where I secured an Associate's Degree in Information Technology and Networking. My dedication to academia earned me a spot on the Dean's List. Now, I'm ardently working towards my Bachelor's Degree in Software Design and Programming, constantly broadening my horizons. I've set my sights on Colorado Technical University — not just for a Master's in Computer Science, but also for their esteemed Doctoral program in Big Data. With an unwavering passion for Artificial Intelligence and Machine Learning, I am poised to channel my education into pioneering strides in the AI/ML field.</div>

<section class="attendedSect">
    <a href="{{ url_for('takenCourses') }}" class="button">Check out some of the courses I've taken</a>
</section>

<div class="basicStuff">
    <a href="{{ url_for('currentProjects') }}" class="button">Check out what I'm currently working on</a>
</div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
