{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edu_styles.css') }}">
{% endblock %}

{% block title %}Education Projects{% endblock %}

{% block content %}

{% for course in courseData %}
<div class="container" id="contentContainer">
    <div class="subTitle">{{ course.projectName }}</div>
    <div class="subTContent">{{ course.projectDisc }}</div>
</div>
{% endfor %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}