
{% extends 'base.html' %}

{% block styles %}

{% endblock %}

{% block title %}Projects{% endblock %}

{% block content %}

<!--edu project content-->
{% for project in eduProjectData %}
    <div class="container" id="contentContainer">
        <div class="title">Current Course Work</div>
        <div class="subTitle">{{ project.courseTitle }}</div>
        <div class="subTitle">Course Number: {{ project.classMajor }} {{ project.devryCourseId }}</div>
        <div class="subTContent">{{ project.courseDis }}</div>
        <div class="carousel">
            <div class="carousel-content">
                {% set image_list = project.images.split(',') %}
                {% for image in image_list %}
                    <img class="carousel-item" src="{{ url_for('static', filename=project.image_dir ~ '/' ~ image.strip()) }}" alt="Image">
                {% endfor %}
            </div>
        </div>
        <div class="subTContent">{{ project.pContent }}</div>
        <div class="basicStuff">
            <a href="{{ url_for('ceis420') }}" class="button">Check this project out!</a>
        </div>
    </div>
{% endfor %}



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/loremGen.js') }}"></script>
{% endblock %}