{% extends 'base.html' %}

{% block styles %}

{% endblock %}

{% block title %}Project Admin{% endblock %}

{% block content %}

<div class="container">
    <div class="box">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/loremGen.js') }}"></script>
{% endblock %}