{% extends 'base.html' %}

{% block styles %}

{% endblock %}

{% block title %}Projects{% endblock %}

<!-- Current Projects -->
{% block content %}

<div id="matrix-container">
    <div class="container" id="contentContainer">
        <h1 class="title" id="contentContainer">Personal Projects</h1>
    </div>
    {% for project in project_data %}
    <div>
        <div class="container" id="contentContainer">
            <div class="subTitle">{{ project.projectName }}</div>
            <div class="subTContent">{{ project.projectDisc }}</div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/loremGen.js') }}"></script>
{% endblock %}