{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edu_styles.css') }}">
{% endblock %}

{% block title %}Attended Courses{% endblock %}

{% block content %}

{% for course in courseData %}
    <div class="container" id="contentContainer">
        <div class="subTitle">{{ course.courseTitle }}</div>
        <div class="subTContent">{{ course.courseDis }}</div>
    </div>
{% endfor %}


<div class="container" id="content-container">
    <div class="subTitle">Tester Project</div>
    <div class="subTContent" id="lorem-text"></div>
</div>
</div>
<script src="{{ url_for('static', filename='js/loremGen.js') }}"></script>

{% endblock %}

{% block scripts %}
{% endblock %}