
.parallax-section {
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  position: relative; /* To position the title and foreground relative to this section */
  overflow: hidden; /* To ensure nothing spills out of the section */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  object-fit: cover;
  z-index: -1; /* This ensures the background is behind content */
}

.foreground {
  position: absolute; /* To position it at the bottom of .parallax-section */
  bottom: 0;         /* Positions the image at the bottom of the container */
  left: 0;
  width: 100%;       /* Full width of the container */
  height: 65vh;      /* 65% of the viewport height */
  z-index: 1;
  
}



/* General Styles */
* {
  font-family: 'Roboto', sans-serif;
}

body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

h2.title{
  font-size: 5rem;
  color: white;
  text-shadow: 0 0 5px black;
  position: absolute; /* Making the title absolute to the parallax section */
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%); /* Centering the title */
  z-index: -1; /* Adjusting z-index to be higher than the foreground */
}

.content-section a {
  margin: auto;
  font-size: 1rem;
  margin-top: 20px;
}

.content-section {
  font-size: 1.5rem;
  padding: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto; 
  background-color: #333;
  color: white;
  z-index: 4; /* Adjusted z-index */
  position: relative;
}

.content-section::before, .content-section::after {
  content: "";
  display: block;
  background-color: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5%; /* half of the remaining 10% width (since width of .content-section is 90%) */
  z-index: -1; /* So that it's behind the actual content */
}

.content-section::before {
  left: -5%; /* Positioning to the left of the content-section */
}

.content-section::after {
  right: -5%; /* Positioning to the right of the content-section */
}

body {
  margin: 0;
  background-color: #111;
  font-family: "Courier New", monospace;
  font-size: 16px;
  position: relative;
}


@keyframes animateMatrixCharacter {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  80% {
      opacity: 0.8;
  }
  100% {
      transform: translateY(100vh);
      opacity: 1;
  }
}

.container {
  
  padding: 1rem;
  width: 90%;
  height: 10%;
  background-color: #333;
  box-shadow: 0px 0px 12px rgba(0, 255, 0, 0.6);
  z-index: 1;
  margin-top: 50px;  /* NEW */
  margin-left: auto; 
  margin-right: auto;
  transition: 0.3s ease-in-out;
  position: relative;
}

.container::before, .container::after {
  content: "";
  display: block;
  background-color: #333;
  width: 5%;
  z-index: -1;
}

.container::before {
  left: -5%;
}

.container::after {
  right: -5%;
}

.title, .subTitle, .subTContent {
  margin-top: 10px;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
}

.title {
  align-items: right;
  font-size: 64px;
}

.subTitle {
  font-size: 42px;
}

.subTContent {
  font-size: 18px;
}

.subMainContent {
  font-size: 38px;
}

/* Button Styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #808080; /* Grey color */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.button:hover {
  background-color: #999999; /* Slightly lighter grey on hover */
  transform: scale(1.05); /* Increase size a bit on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle box shadow on hover */
  text-shadow: 1px 1px 2px #ffffff; /* White text shadow on hover */
}

.button:active {
  transform: scale(0.95); /* Slightly decrease size on click */
  box-shadow: none; /* Remove box shadow on click */
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 700px;
  margin: 0 auto;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 300px;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: darkgrey;
}