/* General Styles */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: #006400;
  /* Dark green color in hexadecimal */
}

h1 {
  font-size: 5rem;
  color: white;
  text-shadow: 0 0 5px black;
}
