/* Show the combo menu for smaller screens */
@media only screen and (max-width: 1038px) and (max-height: 799px) {

    /* Hide the nav menu and social menu */
    nav.navMenu,
    div.socialMenu {
        display: none;
    }

    /* Show the combo menu */
    .comboMenu {
        display: inline-block;
        right: 0;
    }

    /* Other styles for smaller screens */
    .image {
        opacity: 0.5;
    }
}

/* Show the nav menu and social menu for larger screens */
@media only screen and (min-width: 1038px) and (min-height: 500px) {

    /* Show the nav menu and social menu */
    nav.navMenu,
    div.socialMenu {
        display: block;
    }

    /* Hide the combo menu */
    .comboMenu {
        display: none;
    }

    /* Other styles for larger screens */
    .content,
    .social {
        display: block;
        top: 5%;
        left: 0;
        transform: translateY(-50%);
        padding-bottom: 400px;
    }

    /* Adjust other styles for larger screens */
    .column {
        width: 50%;
    }

    .image {
        opacity: 1;
    }
}

