<!-- page.html -->
{% extends 'base.html' %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/matrix_styles.css') }}">
<body>
    <div id="matrix-container"></div>
    {% for project in projects %}
    <div>
        <h1 class="title container" id="contentContainer">Personal Projects</h1>
        <div class="content container" id="contentContainer">
            <div class="subTitle">{{ project.subTitle }}</div>
            <div class="subTContent">{{ project.projectDisc }}</div>
        </div>
    </div>
    {% endfor %}
    <script src="{{ url_for('static', filename='js/matrix.js') }}"></script>
</body>
{% endblock %}
