<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Connected Lines Matrix Animation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/testing.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>

<body>
    <div>{{ data }}</div>
    <div><a>next</a></div>
    <div>{{ mainMenu_items }}</div>
    <div><a>next</a></div>
    <div>{{ socialMenu_items }}</div>
    <div><a>next</a></div>

    <div>{{ course_data }}</div>
    <div><a>next</a></div>
    <div>{{ courseData }}</div>
    <div><a>next</a></div>

    <div>{{ contact_form_fields }}</div>
    <div><a>end</a></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/testing.js') }}"></script>

</html>

<!--
course_data = data['course_data']['menu_items']
courseData = data['in_edu']['course_class_type','course_progress']
-->