<!-- base html page for parallax look-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block styles %}{% endblock %}
</head>

<body>
    <nav class="side-menu-tab" id="sideMenuTab">
        <div>
            <div class="tab-icon">&#9776;</div>
        </div>
        <div class="side-menu" id="sideMenu">
            <ul>
                {% for link in socialMenu_items %}
                <li>
                    <a href="{{ link.link }}" target="_blank" data-name="{{ link.name }}"
                        style="display: flex; align-items: center;">
                        <span style="margin-right: 1px;">{{ link.icon|safe }} &nbsp; {{ link.name }}</span>
                    </a>

                </li>
                {% endfor %}
                <li class="btn">
                    <button type="button" class="smButton" id="contactButton">Let's Connect!</button>
                </li>
                {% for item in mainMenu_items %}
                <li class="btn">
                    <a href="{{ url_for(item.toRoute)}}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
    </nav>
    <section class="content-section">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalLabel">Contact Me</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/contact_submitted" method="POST">
                        {% for field in contact_form_fields %}
                        <div class="form-group">
                            <label for="{{ field.name }}">{{ field.label }}</label>
                            <input type="text" class="form-control" id="{{ field.name }}" name="{{ field.name }}"
                                placeholder="Enter {{ field.label }}">
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>