<!DOCTYPE html>
<html>

<head>
    <title>Sales Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects/edu/CEIS420/styles.css') }}">
</head>

<body>
    <h1>Monthly Sales Input</h1>
    <div class="container">
        <form method="POST" action="ceis420">
            <div class="months-wrapper">
                <div class="months-group">
                    {% for month in monthArray[:6] %}
                    <label for="{{ month }}">{{ month }}:</label>
                    <input type="number" step="0.01" name="{{ month }}" required><br>
                    {% endfor %}
                </div>
                <div class="months-group">
                    {% for month in monthArray[6:] %}
                    <label for="{{ month }}">{{ month }}:</label>
                    <input type="number" step="0.01" name="{{ month }}" required><br>
                    {% endfor %}
                </div>
            </div>
            <button type="submit">Calculate</button>
        </form>
    </div>
    <script>
        document.getElementById("goBackButton").addEventListener("click", function () {
            window.history.back(); // Go back to the previous page
        });
    </script>
</body>

</html>